
<form method="POST" action="/login/savenguoidung" id="form-1">
<div class="all-dangKy">
    <div class="header-dangKy">
        <h2>Đăng Ký</h2>
    </div>
    <div class="content-dangKy">
      <div class="form-tenDangNhap">
      <input id="tenDangNhap"   name="tenDangNhap" type="text" placeholder="Tên đăng nhập">
      <span class="form-message"></span>
      </div>
      <div class="form-matKhau">
      <input id="matKhau" name="matKhau" type="text" placeholder="Mật Khẩu">
      <span class="form-message"></span>
      </div>
      <div class="form-nhapLaiMatKhau">
      <input id="nhapLaiMatKhau" type="text" placeholder="NHập lại Mật Khẩu">
      <span class="form-message"></span>
      </div>
      <div class="form-soDienThoai">
      <input id="soDienThoai" name="soDienThoai" type="text" placeholder="Số điện thoại">
      <span class="form-message"></span>
      </div>
    </div>
    <div class="foote-dangKy">
        <div class="form-check-dangKy">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
             Nhớ mật khẩu
          </label>
        </div>
        <button class="btn-dangKy" type="submit">Đăng ký</button>
        <a href="dangnhap">Bạn đã có tài khoản?</a>
    </div>
</div>
</form>
<script src="/js/Validator.js"></script>
<script>
  var btnDK = document.querySelector('.btn-dangKy');

    Validator({
    form : '#form-1',
    errorSelector: '.form-message',
    rules:[
            Validator.isUser('#tenDangNhap'),
            Validator.isPassWord('#matKhau',6),
            Validator.isPassWordNL('#nhapLaiMatKhau', function(){
              return document.querySelector('#matKhau').value;
            }),
            Validator.isPhone('#soDienThoai'),    
    ]
    
  });
 
</script>