<div id="foote">
    <div class="hotline">
       <h2>Hotline</h2>
       <div class="phone1">
        <img src="/img/Phone.png" alt="">
        <p>Chủ sở hữu: 092888929</p>
       </div>
       <div class="phone2">
        <img src="/img/Phone.png" alt="">
        <p>Nhà phát triển: 0988822111</p>
       </div>
    </div>
    <div class="gioithieu">
       <h2>Giới thiệu</h2>
       <p> Just là 1 website giúp người dùng có thể đặt chỗ trước thông qua việc đăng nhập</p>
       <p>Giúp các doanh nghiệp tiếp cận và phục vụ tốt hơn với khách hàng </p>
       <p>Nếu bạn là doanh nghiệp hãy liên hệ với chúng tôi qua hotline </p>
       <p>Nếu bạn là khách hàng và đã có trải nghiệm không không tốt với việc xếp chỗ của doanh nghiệp </br>
        nào khi đặt chỗ chúng tôi các bạn có thể khiếu nại hoặc chat với chúng tôi, chúng tôi luôn sẵn 
        lòng phục vụ các bạn để có thể hoàn thiện hơn.</p>
    </div>
    <div class="mangxahoi">
        <h2>Mạng xã hội</h2>
       <div class="facebook">
           <img src="/img/facebook.png" alt="">
           <p>Facebook</p>
       </div>
       <div class="gmail">
           <img src="/img/gmail.png" alt="">
           <p>Gmail</p>
       </div>
    </div>
</div>